<div class="gridster">
  <ul style="height: 480px; position: relative;" class="col-xs-12">
    <li data-row="4" data-col="3" data-sizex="4" data-sizey="5" class="gs_w">
    	<altitude-instrument></altitude-instrument>
    </li>
    <li data-row="4" data-col="0" data-sizex="4" data-sizey="5" class="gs_w">
    	<attitude-instrument></attitude-instrument>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="5" class="gs_w">
    	<verticalspeed-instrument></verticalspeed-instrument>
    </li>
    <li data-row="1" data-col="2" data-sizex="4" data-sizey="5" class="gs_w">
        <turnslip-instrument></turnslip-instrument>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="5" class="gs_w">
        <airspeed-instrument></airspeed-instrument>
    </li>

<!--     <li class="try gs_w" data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1" class="gs_w"></li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" class="gs_w"></li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1" class="gs_w"></li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" class="gs_w"></li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1" class="gs_w"></li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="2" class="gs_w"></li> -->
  </ul>
</div>